* {
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1  { font-size: 3.5em; }
h2  { font-size: 2.7em; }
h3  { font-size: 2em; }
p   { font-size: 1.25em; }
ul  { list-style: none; }
li  { font-size: 1.25em; }

button{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: #E0D0B3;
}

button:hover{
    background-color: #D8C092;
}
.container{
    max-width: 1400px;
    margin: auto;
}

.color-acento{ color:#D8C092; }

header {
    display: flex;
    justify-content: space-between;
    min-height: 70px;
    background: rgb(245, 245, 245);
    align-items: center;
    flex-direction: column;
}
.logotipo {
    display: flex;
    align-items: center;
}
.logotipo img {
    height: 50px;
    margin-right: 10px;
}
.logotipo p {
    font-weight: 600;
    color: #D8C092;
}
nav a {
    text-decoration: none;
    color: black;
    padding-right: 10px;
    font-weight: 600;
}
nav a:hover {
    color: #D8C092;
}

#banner{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5), /*esto sombrea la imagen de fondo para que no opaque al texto :D*/
        rgba(0,0,0,0.5)
    )
    ,url("media/img1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#banner h1{
    color: white;
}

#banner button{
    font-size: 1.75em;
}

#somos .container{
    text-align: center;
    padding: 200px 12px;
}

#nuestros-productos{
    background-color: #B3A487;
    color: white;
    text-align: center;
}

#nuestros-productos .container{
    padding: 150px 12px;
}

#nuestros-productos h2{
    margin-top: 0;
    font-size: 3.2em;
}

#nuestros-productos p{
    display: none;
}


#nuestros-productos .carta {
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}


/*#nuestros-productos .carta {
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
    margin-left: 25%;
    width: 50%;
}
   */
.texto {
    padding-top: 20px;
}
.texto_3 {
    padding-top: 55px;
}
.carta {
    width: 25%;
}
.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5), /*esto sombrea la imagen de fondo para que no opaque al texto :D*/
        rgba(0,0,0,0.5)
    )
    ,url("media/Esquinero-NY-3c.jpg");

}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/mueble-tv.jpg");
}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/mesa-luz.jpg");

}

#caracteristicas .container{
    text-align: center;
    padding: 250px 12px;
}

#caracteristicas li{
    margin: 16px 0px;
    font-weight: bold;
}

#final{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #B3A487;
    color: white;
    min-height: 120vh;
}

#final h2{
    font-size: 9vw;
}

#final button{
    font-size: 5vw;
}

footer{
    background-color: rgb(230,230,230);
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100,100,100);
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
form {
    margin: 0 auto;
    width: 300px;
    background: #CDB68B;
    padding: 10px;
    color: white;
    border-radius: 4px;
    font-family: Calibri;
    font-weight: 600;
    font-size: 0.8em;
}
input, textarea {
    border: 0;
    width: 280px;
    border-radius: 3px;
}
.celda {
    border: solid 2px #958464;
    padding: 10px;
}
.centrar {
    text-align: center;
}
.boton-form {
    background: #E0D0B3;
    border-radius: 3px;
    border-radius: 2px solid #958464;
    padding: 10px;
}

@media (min-width: 850px){
    header {
        flex-direction: column;

    }
    nav {
        padding: 10px 0px;
    }

    #banner h1{
        font-size: 5em;
    }

    #somos .container{
        display: flex;
        justify-content: space-evenly;
    }

    #somos .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #somos h2{
        margin-top: 0px;
    }

    #somos .img-container{
        background-image: url("media/living.jpg");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px; 
    }

    #nuestros-productos .productos{
        display: flex;
        justify-content: center;
    }

    #nuestros-productos p{
        display: block;
        margin-bottom: 30px;
    }

    #nuestros-productos h2{
        font-size: 4em;
    }

    #nuestros-productos h3{
        margin-top: 0;
    }

    #nuestros-productos .carta{
        padding: 50px;
        background-size: 100% 150px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgba(50, 50, 50, 1);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    }

    .carta:first-child{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("media/Esquinero-NY-3c.jpg");

    }

    .carta:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("media/mueble-tv.jpg");
    }

    .carta:nth-child(3){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("media/mesa-luz.jpg");

    }

    #caracteristicas{
        background-image: url("media/servicio.jpg");
        background-repeat: no-repeat;
        background-size: 500px 400px;
        background-position: calc(100vw - 500px) 120px;
    }

    #caracteristicas .container{
        text-align: initial;
    }

    #caracteristicas ul{
        margin-left: 100px;
    }

    #final h2{
        font-size: 5em;
    }

    #final button{
        font-size: 2em;
    }

    footer .container{
        justify-content: flex-end;
    }
}

@media (min-width: 1200px) {
    #caracteristicas{
        background-position-x: calc(100vw - 800px);
    }
}